.chat_input {
    border-radius: 20px;
    background-color: var(--secondary);
    margin-bottom: 30px;
}

.chat_input > form {
    position: relative;
    display: flex;
    justify-content: center;
}

.chat_input > form > input {
    position: fixed;
    bottom: 30px;
    width: 60%;
    border-radius: 20px;
    padding: 20px;
    border-bottom: 1px solid white;
    outline: none;
    background-color: var(--secondary);
}

.chat_input > form > button {
    display: none !important;
}