.login_container > img {
    object-fit: contain;
    height: 100px;
    margin-bottom: 40px;
}



.login_container > button {
    margin-top: 50px;
    text-transform: inherit !important;
background: transparent !important;
border: solid darkgray 1px;
border-left: 0;
border-right: 0;
color: white;
    border-radius: 10px;
    padding: 10px;
    transition: all 500ms;
}

.login_container > button:hover {
    color: var(--main-color);
    border-right: 0;
    border-left: 0;
    border-bottom: var(--main-color) 1px solid;
    border-top: var(--main-color) 1px solid;
    padding: 20px;
    
}


.login_container > h1 {
    color: white;
    position: relative;
    bottom: 20px;
}

.login_container {
    padding: 100px;
  font-family: 'Teko', sans-serif;
  text-align: center;
}    


.login_buttons {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #2D2F3B;

}



.github {
    margin-top: 15px !important;
    margin-left: 20px;
    cursor: pointer;
    font-size: 30px !important;
    color: #707070;
    transition: all 500ms !important;
}

.github:hover {
    color: white !important;
}

.sign_up {
    margin-top: 10px !important;
    margin-right: 30px !important;
    color: #707070 !important;
    cursor: pointer;
    border: solid #707070 1px !important;
    transition: all 500ms !important;
}

.sign_up:hover {
    color: white !important;
    border: solid white 1px !important;
}



.login {
    height: 100vh;
    display: flex;
  justify-content: center;
  align-items: center;
    background-attachment: fixed;
    background-color: #2D2F3B;
    background-position:center ;
    background-size: cover;

}

.form_form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    color: white;
    text-align: left;
}


.form_form > label {
    color: gray;
    text-transform: uppercase;
    
}

.form_form > label >input {
    background: transparent;
    padding: 10px;
    border: none;
    width: 100%;
    outline: none;
    border-radius: 20px;
}

input,label {
    display: block;
}

.form_form > hr {
    margin: 6.5px;
    margin-right: 0;
    margin-left: 0;
    width: 400px;
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #707070; /* Modern Browsers */
}


input::placeholder{
    color:white;
}


.login_container > footer > h3{
    color: white;
    font-weight: 100;
    position: absolute;
    bottom: 0;
    align-self: center;
    text-align: center;
}

.login_container > footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}


input {
    color: white;
}

.google_button {
    border: solid #707070 1px !important;
    transition: all 500ms !important;
    padding: 10px !important;
    color: #707070 !important;
}

.google_button:hover {
    color: white !important;
    border: solid white 1px !important;
}