
.sidebar {
    background-color: rgba(70,74,91, 0.8);
    width: 300px;
    color: white;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
}


.sidebar_header {
   display: flex;
   padding-bottom: 10px;
   padding: 13px;
}

.sidebar_info {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--secondary) 1px solid;
}

.sidebar_info > h2 {
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 5px;

}

.sidebar_info > h3 {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;

}

.sidebar_info > h3 > .MuiSvgIcon-root {
    font-size: 20px;
    margin-top: 1px;
    color: green;
    margin-bottom: 5px;

}

.sidebar_header > .MuiSvgIcon-root {
    padding: 8px;
    color: #49274b;
    font-size: 18px;
    background-color: white;
    border-radius: 999px;
}

.sidebar > hr {
    margin-top: 10px;
    margin-bottom: 10px;
    boder: solid 1px var(--secondary);
}

.sidebar_info {
    display: flex;
    align-items: center;
   
}

.sidebar_info > h3 {
    font-size: 20px;
}
